[submodule "libpulse-backend"]
	path = libpulse-backend
	url = https://github.com/Alluisio/libpulse-backend.git
[submodule "libpulse-ui"]
	path = libpulse-ui
	url = https://github.com/Alluisio/libpulse-ui.git
[submodule "libpulse-mobile"]
	path = libpulse-mobile
	url = https://github.com/Alluisio/libpulse-mobile.git
